.advantage {
  height: 606px;
  background: url("../img/bg/Group_8.png") center / cover no-repeat;
  padding: 103px 0 115px 0;
  &__object {
    display: flex;
    justify-content: space-between;
    &-card {
      position: relative;
      width: 250px;
      height: 390px;
      background: url(../icons/section2/vect.svg) 0 0 no-repeat;
      &-icon {
        position: absolute;
        bottom: -45px;
        left: -40px;
      }
      &:nth-child(3) &-icon {
        bottom: -60px;
        left: -60px;
      }
    }
    &-number {
      position: absolute;
      top: -40px;
      left: -40px;
      color: #fff;
      font-family: Salsa;
      font-size: 170px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    &_title {
      display: flex;
      align-items: center;
    }
    &_title_number {
      color: #fff;
      font-family: Salsa;
      font-size: 170px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    &_title_text {
      padding-left: 22px;
      color: #fff;
      font-family: Playfair Display;
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 10px;
      margin-left: 40px;
    }
  }
}
