
.header {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;

  background: url('../img/bg/header.png') center (center / cover) no-repeat;
  z-index: 1500;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
  }
  &__logo {
    width: 100px;
    height: 60px;
    gap: 30px;
    img {
      width: 100%;
    }
  }
}

.navbar {
  position: relative;
  float: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  gap: 73px;
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
    &_item {
      display: flex;
      justify-content: space-between;
      align-items: center;


    }
    &_link {
      color: #C7C7C7;
      font-family: Roboto;
      font-size: 24px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      text-decoration: none;
      &:hover {
        color: #FFF;
        font-weight: 400;
      }
    }
  }
  &__language-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    &_toggle-language {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #C7C7C7;
      font-family: Roboto;
      font-size: 24px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      text-decoration: none;
      &:hover {
        color: #FFF;
        font-weight: 400;
      }
    }
  }
}



