.intro {
  min-height: 948px;
  margin-top: 90px;
  background: url('../img/bg/bg.png') center / cover no-repeat;
  padding: 94px 0 183px 0;
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    position: relative;
    display: block;
    width: 160px;
    height: 120px;
    color: #FFF;
    font-family: PT Serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
      span {
        position: absolute;
        bottom: -25px;
        right: 32px;
      }
    &_name {
      position: relative;
      padding-bottom: 100px;

    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    &_title {
      margin: 0 auto;
      color: #FFF;
      font-family: Playfair Display;
      font-size: 144px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    &_subtitle {
      margin: 0;
      color: #FFF;
      font-family: Playfair Display;
      font-size: 72px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    &_text {
      display: block;
      margin-top: 12px;

      color: #FFF;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  &__img-sneaker {
    position: absolute;
    right: 0;

  }
}