.intro {
  min-height: 948px;
  background: url('../img/bg/bg.png') center / cover no-repeat;
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

  }
  &__logo {
    position: relative;
    display: flex;
    align-items: center;
    width: 160px;
    height: 120px;
    flex-shrink: 0;
    padding-left: 175px;
    &_name {
      position: absolute;
      padding: 105px 0px 0px 15px;
      color: #FFF;
      font-family: PT Serif;
      font-size: 48px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration: none;
    }
  }

  &__wrapper {
    position: absolute;
    display: block;
    align-items: center;
    align-content: flex-start;
    &_title {
      margin: 0 auto;
      padding: 0px 0px 0px 157px;
      color: #FFF;
      font-family: Playfair Display;
      font-size: 144px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    &_subtitle {
      margin: -27px auto;
      padding: 0px 0px 0px 165px;
      color: #FFF;
      font-family: Playfair Display;
      font-size: 72px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    &_text {
      display: block;
      padding: 12px 0px 0px 165px;
      color: #FFF;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  &__img-sneaker {
    position: relative;
    margin-left: 441px;
    margin-top: -20px;
  }
}