.order {
  min-height: 510px;
  background: url("../img/bg/Section\(5\).png") center / cover no-repeat;
  &__title {
    margin: 0;
    padding: 20px;
    color: #FFF;
    text-align: center;
    font-family: Playfair Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
    margin-top: 33px;
    input[type="text"] {
      width: 580px;
      height: 50px;
      padding: 11px 22px;
      border-radius: 50px;
      border-radius: 1px solid #000;
      border: none;
      background: #fff;
      color: #959595;
      font-family: Roboto;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      outline: none;
    }
    &_confirm {
      width: 690px;
      height: 60px;
      border-radius: 30px;
      background-color: #fff;
      border: 1px solid silver;
      padding: 5px 7px 5px 25px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      input[type="email"] {
        background: #FFF;
        width: 580px;
        height: 50px;
        border: none;
        color: #959595;
        font-family: Roboto;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        outline: none;
      }
    }
    &_confirm-button {
      width: 250px;
      height: 50px;
      color: #8D8D8D;
      font-family: Roboto;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border: 1px solid #00000078;
      border-radius: 30px;
      background: rgba(0, 0, 0, 0,);
      cursor: pointer;
    }
  }
}
