.order {
  min-height: 510px;
  background: url("../img/bg/Section\(5\).png") center / cover no-repeat;
  position: relative;
  &__form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    input {
      width: 560px;
      height: 50px;
      border-radius: 30px;
      background-color: #ffff;
      margin-bottom: 15px;
      border: 1px solid silver;
      padding: 0 20px;
      color: #4b4b4b;
      font-size: 14px;
      font-weight: 300;
      &:nth-child(3){
        margin-bottom: 20px;
      }
    }

  }
}
