.storage {
  min-height: 665px;
  background: url('../img/bg/Section_3.png');
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
  &__img {
    position: relative;
    &_photo {
      object-fit: cover;
    }
  }
  &__vector {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 600px;
    top: 230px;
    border: 2px solid white;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
    cursor: zoom-in;
  }
}