.storage {
  min-height: 665px;
  background: url('../img/bg/Section_3.png');
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
  &__img {
    position: relative;
    &_photo {
      object-fit: cover;
    }
  }
  &__vector {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 216px;
    right: 90px;
    bottom: 54px;
    left: 615px;
    &_svg {
      position: absolute;
      top: -160px;
      left: 115px;
    }
  }
}