.button {
  width: 254px;
  height: 67px;
  margin: 41px 0px 0px 165px;
  color: #FFF;
  font-family: 'Roboto';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 10px;
  border: none;
  background: $main-color;
  cursor: pointer;
}